@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

#root {
  width: 300px;
  height: 400px;
}

html {
  font-family: 'CrimsonText';
  font-size: 18px;
}

@font-face {
  font-family: 'CrimsonText';
  src: url('../../CrimsonText-Regular.ttf') format('eot');
}
